table {
    width: 50%;
    margin: 0 auto;
  }

.custom_id {
    font-style: italic;
    text-align: center;
}

.custom_name {
    text-align: left;
    font-style: oblique;
}

.custom_name_th{
    text-align: left;
}

.paginacion{
    width: 50%;
    margin: 0 auto;
}
