table {
    width: 75%;
  }

.custom_id {
    font-style: italic;
}

.custom_name {
    text-align: left;
    font-style: oblique;
}

.custom_name_th{
    text-align: left;
}

.paginacion{
    width: 75%;
}

.centradoDiv {
    justify-content: center;
    text-align: center;
}