<div fxLayout="column" fxLayoutAlign="space-evenly center" >
  <h3>Listado de obras sociales afiliadas</h3>
    <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">

      <ng-container matColumnDef="position">
        <th mat-header-cell [ngClass]="'custom_id'" fxFlex="20" *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell [ngClass]="'custom_id'" fxFlex="20" *matCellDef="let element"> {{element.id}} </td> 
      </ng-container>
        
      <ng-container matColumnDef="name">   
        <th mat-header-cell fxFlex="80" [ngClass]="'custom_name_th'" *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell [ngClass]="'custom_name'" fxFlex="80" *matCellDef="let element"> {{element.title}} </td> 
      </ng-container>
            
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  <mat-paginator class="mat-elevation-z8" [ngClass]="'paginacion'" [pageSizeOptions]="[ 2, 3]" showFirstLastButtons></mat-paginator>
  <button mat-raised-button (click)="getCantidadFilas($event)">
    Actualizar
  </button>
</div>
  <!-- la siguiente linea es solo para debug  -->
<!-- <P>EN EL HIJO</P>  
<p>{{ listadoObrasSociales | async | json }}</p> -->