<div fxLayout="row" fxLayoutAlign="center none" >
    <h3>Listado de variables de laboratorio</h3>    
</div>
<div fxLayout="row" fxLayoutAlign="start start">
    <h4 fxFlexOffset="5">Haga click sobre un grupo para poder ver las variables registradas</h4>
</div>
<div fxLayout="row" fxLayoutAlign="space-around stretch" >
    <h5>Las rutas son definidas como parametros, es solo didactico, deberian ser definidas fijas</h5>
    <div fxLayout="column" fxFlex="50" fxFlexOffset="10">
        <a mat-button routerLink="hemograma">Hemograma</a>
    </div>
    <div fxLayout="column" fxFlex="50" fxFlexOffset="10">
        <a mat-button routerLink="colesterol">Colesterol</a>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="start start">
    <router-outlet>
        {{listadoVisualizar}}
    </router-outlet>
</div>